*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 ,
 h2 ,
 h3,
 .poppins{
    font-family: 'Poppins', sans-serif;
}
body{
    color: white;
    position: relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 42px;
    padding: 40px 14px;
    min-height: 100vh;
    overflow: scroll;
}
.backgroundImg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -2;
    filter:blur(3px) brightness(0.6);
}
.backgroundImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
}
header ,
main,
body,
.backgroundImg{
    display: flex;
    flex-direction: column;
}
header img{
    width: 140px;
    height:140px;
    border-radius: 50%;
    border: 2px solid white;
    padding: 2px;
    background:rgba(228, 10, 10, 0.2);
    object-fit: cover;
    object-position:center;
}
header mark{
    border-radius: 4px;
    padding: 2px 6px;
    background: white;
    color: #0f172a;
    font-weight: bold;
}
header h1{
    font-size: 1em;
    font-weight:500;
}
header p{
    font-size: 1em;
    font-weight: 400;
    opacity:0.9;
}
main{
    display: flex;
    flex-direction: column;
    gap:14px;
    margin-top:20px;
}
.link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 20px;
    border-radius: 10px;
    width: 400px;
    max-width: 90%;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 500;
    color: white;
    transition: all 0.2s ease-in-out;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.2);
}
.link:hover{
    background: rgba(255, 255, 255, 0.3);
    transform: scale(1.05);
    border-color:skyblue;
    opacity:0.8;
}
.linkBackground{
    position:absolute;
    inset:0;
    background: #020617;
    opacity:0.6;
    z-index:-1;
    border-radius: 10px ;
    transition: all 0.2s ease-in-out;
}
.link:hover .linkBackground{
    transform: scale(1.01);
}
.link p {
    font-size: 1em;
    text-align: center;
}
@media(min-width:640px){
    body{
        gap: 64px;
        padding:80px 14px;
    }
    header,
    main{
        gap:24px;
    }
    body{
        padding: 80px 14px;
    }
    header img{
        width: 140px;
        height:140px;
        border-radius: 50%;
        border: 2px solid white;
        padding: 2px;
        background:rgba(228, 10, 10, 0.2);
        object-fit: cover;
        object-position:center;
    
    }
    header h1{
        font-size:1.2em;
        font-weight:400;
    }
    header p{
        font: size 1.2em;
        font-weight:700;
    }
    header img {
        max-width: 180px;
    }
    .link{
        font-size: 1.3em;
        padding:16px 24px;
    }
}